body {
    font-family: Arial, sans-serif;
    background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(165,184,111,1) 28%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.02);
}

h1 {
    font-size: 24px;
}

#quote-container {
    background-color: #e7e7e7;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

#quote {
    font-size: 18px;
    margin: 0;
}

button {
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0058a7;
}
